body
{
    font-family: 'Sora', sans-serif;
    text-align:center;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.43rem;
}

#title
{
    color: #C92C6D;
    background-color: #EA8FEA;
    text-align: left;
}

#title .container-fluid{
    padding:3% 15% 7%;
}

.container-fluid
{
    padding: 7% 15%;
}

p
{
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar
{
    padding:0 0 4.5rem;
}

.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item
{
    padding:0 18px;
}

.nav-link
{
    font-size:1.2rem;
}

/* Download Buttons */

.download-button
{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image
{
    width: 56%;
    transform: rotate(24deg);
    position: absolute;
    right:30%;
}

.position-container
{
    position: relative;
}

/* Features Section */

#features
{
    background-color: #fff;
    position: relative;
}

.feature-box
{
    padding: 5%;
}

.icon
{
    color: #EA8FEA;
    margin-bottom: 1rem;
}

.icon:hover
{
    color:#C92C6D;
}

/* Testimonials */

#testimonials
{
    background-color: #EA8FEA;
    color: #C92C6D;
}

.testimonial-image
{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}


#press
{
    background-color:#EA8FEA;
    padding-bottom: 3%;
}

.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing
{
    padding: 100px;
    text-align: center;
}

.pricing-column
{
    padding: 3% 2%;
}

@media (max-width:1028px)
{
    #title
    {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0deg);
    }

}

/* Call to action */
#cta
{
    background-color: #E5D1FA;
    color:#C92C6D;
}

.action
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
}

/* Footer */
#footer
{
    background-color: #fff;
}

.social-icon
{
    margin: 20px 10px;
}

.color 
{
    background-color: #EA8FEA;
}

/*Arpan's modification  */
.buyButton
{
    width: 56%;
    transform: rotate(24deg);
    position: absolute;
    right:30%;
}


